VITE_SUPABASE_URL=https://xzyglfiecvmwsatpiemy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6eWdsZmllY3Ztd3NhdHBpZW15Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzNjkyMDMsImV4cCI6MjEwNDk0NTIwM30.lk_ZlpCWbkapINZgwtINE0dA6FOZvcVOeKXEwcZ8TgQ
